bin
obj
csx
.vs
edge
Publish
*.user
*.suo
*.cscfg
*.Cache
project.lock.json
*.pyc
*.pyo
.Python
local.settings.json
__pycache__
__blobstorage__
__queuestorage__
__azurite_db*__.json
.python_packages
.venv
venv
